DATABASE_URL=mysql://t8b4GpxPuc5i2E5.root:6uYCnqh3ySxnMbTL@gateway01.eu-central-1.prod.aws.tidbcloud.com:4000/hexaterps?sslaccept=strict

FRONTEND_ORIGIN=http://localhost:5173,https://hexa-terps.vercel.app

ADMIN_TOKEN=h3x4t3rps-4dm1n-t0k3n
